<div class="topic-replies-toggle-wrapper" {{on "click" (action this.click)}}>
  {{raw
    "list/new-list-header-controls"
    current=@current
    newRepliesCount=@newRepliesCount
    newTopicsCount=@newTopicsCount
  }}
</div>
